html{
    background-color: turquoise;
}

body{
    background-color: white;
    padding: 40px 100px;
    border-radius: 25px;
    text-align: left;
    width: 500px;
    margin: 50px auto;
}

button{
    background: turquoise;
    font-weight: bold;
    width: 180px;
    font-size: large;
}

p{
    font-size: 20px;
}

input{
    font-size: 25px;
}